* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

body {
  margin: 1rem;
}

p {
  margin-top: 1rem;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
}

.box-buttons {
  display: flex;
  align-items: center;
  vertical-align: center;
  position: relative;
}

button[type="submit"] {
  margin-top: 1rem;
  border: 1px solid #ccc;
  padding: 0.25rem 1rem;
}

.loading {
  position: relative;
  width: 36px;
  height: 36px;
  top: 6px;
}

.d-none {
  display: none;
}

.separator {
  border-bottom: 1px solid #ccc;
  height: 1px;
}